 </head>
 <body>
    <div class="wrap">
        <header class="header">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><%=image_tag 'softline.jpg' %></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">A Empresa</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">UI Elements</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Icons</a></li>
                                    <li><a href="#">Pricing Tables</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">404 Not Found</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Portfolio 2 Columns</a></li>
                                    <li><a href="#">Portfolio 3 Columns</a></li>
                                    <li><a href="#">Portfolio 4 Columns</a></li>
                                    <li><a href="#">Portfolio Item</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fale Conosco</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Blog Layout 1</a></li>
                                    <li><a href="#">Blog Layout 2</a></li>
                                    <li><a href="#">Blog Item</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.nav -->
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
            <!-- /.navbar -->
        </header>
        <!-- /.header -->
        <section class="fullwidthbanner-container">
            <div class="fullwidthbanner">
                <ul>
                    <!-- THE 1ST SLIDE -->
                    <li data-transition="boxslide" data-slotamount="10" data-masterspeed="300">
                        <%= image_tag 'slide_slide(1).jpg' %>
                        <div class="tp-caption theme_caption4 sft stt"
                        data-x="145"
                        data-y="75"
                        data-speed="300"
                        data-start="2000"
                        data-easing="easeOutExpo"  >MINIMAL, SPACIOUS AND EASY TO READ</div>
                        <div class="tp-caption theme_caption2 lft ltt"
                        data-x="145"
                        data-y="115"
                        data-speed="300"
                        data-start="2200"
                        data-easing="easeOutExpo"  >SIMPLE & CLEAN DESIGN</div>
                        <div class="tp-caption theme_caption3 lfl ltl"
                        data-x="145"
                        data-y="170"
                        data-speed="600"
                        data-start="2400"
                        data-easing="easeOutExpo"  >
                        Lorem ipsum dolor sit amet, eum cu sint dolores, dicat<br>
                        possit malorum at sit, ut natum assentior mea. Mel congue malorum te, eu <br>
                        cum blandit salutatus comprehensam, atqui causae ancillae cum ei. <br>
                        His eu ignota praesent democritum.
                    </div>
                    <div class="caption sfb stb btn btn-flat flat-inverse btn-bordered"  
                    data-x="145"
                    data-y="280"
                    data-speed="300" 
                    data-start="2600"
                    data-easing="easeOutExpo"><a href="#" class="">Learn More</a>
                </div>
                <div class="caption sfb stb btn btn-flat flat-primary"
                data-x="265" 
                data-y="280"
                data-speed="300"
                data-start="2800" 
                data-easing="easeOutExpo"><a href="#" class="">Purchase Now</a>
            </div>
            <div class="caption lfr ltr"
            data-x="685"
            data-y="0"
            data-speed="300"
            data-start="3000"
            data-easing="easeOutExpo"  ><%= image_tag 'imac_slide.png' %></div>
        </li>
        <!-- THE 2ND SLIDE -->
        <li data-transition="slideleft" data-slotamount="10" data-masterspeed="300">
            <%= image_tag 'slide_slide(2).jpg' %>
            <div class="caption lfr ltr boxshadow"
            data-x="595" 
            data-y="70" 
            data-speed="900"
            data-start="500" 
            data-easing="easeOutBack"><iframe src="http://player.vimeo.com/video/25708134?title=0&amp;byline=0&amp;portrait=0" width="460" height="259"></iframe></div>
            <div class="caption sft stt modern_big_bluebg" 
            data-x="145" 
            data-y="80"
            data-speed="300" 
            data-start="1200" 
            data-easing="easeOutExpo">VIDEO SUPPORT</div>
            <div class="caption sft stt theme_caption1" 
            data-x="150" 
            data-y="120" 
            data-speed="300"
            data-start="1400" 
            data-easing="easeOutExpo">VIMEO EXAMPLE</div>
            <div class="caption lfb ltb theme_caption5" 
            data-x="145" 
            data-y="165" 
            data-speed="300" 
            data-start="1600"
            data-easing="easeOutExpo">YOU CAN EASILY</div>
            <div class="caption lfb ltb theme_caption5" 
            data-x="145" 
            data-y="205" 
            data-speed="300" 
            data-start="1800"
            data-easing="easeOutExpo">ADD VIMEO &</div>
            <div class="caption lfb ltb theme_caption5" 
            data-x="145"
            data-y="245"
            data-speed="300"
            data-start="2000" 
            data-easing="easeOutExpo">YOUTUBE VIDEOS TO</div>
            <div class="caption lfb ltb theme_caption5" 
            data-x="145" 
            data-y="285" 
            data-speed="300"
            data-start="2200"
            data-easing="easeOutExpo">YOUR SLIDES</div>
        </li>
        <!-- THE 3RD SLIDE -->
        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300">
           <%= image_tag 'slide_slide(3).jpg' %>
           <div class="tp-caption theme_caption4 sft stt"
           data-x="145"
           data-y="75"
           data-speed="300"
           data-start="1000"
           data-easing="easeOutExpo"  >FOCUS ON THE MOBILE DEVICES</div>
           <div class="tp-caption big_black lft ltt"
           data-x="145"
           data-y="115"
           data-speed="300"
           data-start="1200"
           data-easing="easeOutExpo"  >ULTRA RESPONSIVE</div>
           <div class="tp-caption theme_caption3 sfl stl"
           data-x="145"
           data-y="170"
           data-speed="600"
           data-start="1400"
           data-easing="easeOutExpo"  >
           Lorem ipsum dolor sit amet, eum cu sint dolores, dicat<br>
           possit malorum at sit, ut natum assentior mea. Mel congue malorum te, eu <br>
           cum blandit salutatus comprehensam, atqui causae ancillae cum ei. <br>
           His eu ignota praesent democritum.
       </div>
       <div class="caption sfb stb btn btn-flat flat-inverse btn-bordered" 
       data-x="145"
       data-y="280"
       data-speed="300" 
       data-start="1600"
       data-easing="easeOutExpo"><a href="#" class="">Learn More</a></div>
       <div class="caption sfb stb btn btn-flat flat-primary"  
       data-x="265" 
       data-y="280" 
       data-speed="300"
       data-start="1800"
       data-easing="easeOutExpo"><a href="#" class="">Purchase Now</a></div>
       <div class="caption lfr ltr"
       data-x="725"
       data-y="0"
       data-speed="300"
       data-start="2000"
       data-easing="easeOutExpo"  ><%= image_tag 'iphone_slide(1).png' %></div>
       <div class="caption lfr ltr"
       data-x="565"
       data-y="0"
       data-speed="300"
       data-start="2200"
       data-easing="easeOutExpo"  ><%= image_tag 'iphone_slide(2).png' %></div>
   </li>
</ul>
</div>
</section>
<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "laptop" %>
                    </span>
                    <h4>A Empresa</h4>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "gear" %>
                    </span>
                    <h4>Serviços</h4>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <span class="service-icon">
                        <%=fa_icon "envelope-o" %>
                    </span>
                    <h4>Fale Conosco</h4>
                    <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>


        <script type="text/javascript">
        var tpj = jQuery;
        tpj.noConflict();
        tpj(document).ready(function () {
                // Revolution Slider
                if (tpj.fn.cssOriginal != undefined)
                    tpj.fn.css = tpj.fn.cssOriginal;
                tpj('.fullwidthbanner').revolution(
                {
                    delay: 9000,
                    startwidth: 1200,
                    startheight: 400,

                    onHoverStop: "on",

                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 3,

                    hideThumbs: 0,

                    navigationType: "none",
                    navigationArrows: "solo",
                    navigationStyle: "round",
                    navigationHAlign: "left",
                    navigationVAlign: "bottom",
                    navigationHOffset: 30,
                    navigationVOffset: 30,

                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,

                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,

                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    hideSliderAtLimit: 0,

                    fullWidth: "on",
                    fullScreen: "off",
                    fullScreenOffsetContainer: "#topheader-to-offset",

                    shadow: 0
                });

                // PrettyPhoto
                tpj("a[rel^='prettyPhoto']").prettyPhoto({
                    theme: 'light_square',
                    social_tools: false
                });
                // jflickrfeed
                tpj('.flickr-photos-list').jflickrfeed({
                    limit: 9,
                    qstrings: {
                        id: '71865026@N00'
                    },
                    itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
                });
                // jQuery UItoTop
                tpj().UItoTop({ easingType: 'easeOutQuart' });

            });
            // jQuery CarouFredSel
            var caroufredsel = function () {
                tpj('#caroufredsel-portfolio-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 3
                        }
                    },
                    prev: '#portfolio-prev',
                    next: '#portfolio-next',
                    auto: {
                        play: false
                    }
                });
                tpj('#clients-wrapper').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 4
                        }
                    },
                    prev: '#client-prev',
                    next: '#client-next',
                    auto: {
                        play: false
                    }
                });
            };
            tpj(window).load(function () {
                caroufredsel();
            });
            tpj(window).resize(function () {
                caroufredsel();
            });
            </script>
